# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Distribution directory
dist/
build*/

# plaformio build files
.pio/
.venv/

# Python cache files
.mypy_cache/
__pycache__/
*.pyc

# Need to hide certain files for publication & thesis integrity reasons
roadmaps/
planning/
working/

# Old files
_reference/
_archive/

# Logs
*.log
# Doxygen output (scripts/doccheck.sh)
docs/doxygen_out/
